/raw/D*
/raw/ressources/miRNA/
/raw/ressources/Drosi_only_miRNA/
/raw/ressources/sra/
/raw/ref_additional/
/processed/D*
/processed/backup*
/processed/old/
/logfiles/
/no_git/
/results/
.DS_Store
.Rhistory